
<section id="translist" class="col-lg-12 col-mg-12 col-xs-12" style="height: auto;">
<div class="container">
  <h2>Accepted e-translates:</h2>
  <div class="list-group">

  <trans-item-new-order  *ngFor="let translate of pagedItems" [trans]="translate"> </trans-item-new-order>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
    
    
</div>
</div>
</section>



<!--
<pre>{{ translist | json }}</pre>-->


