<section id="createform">
<div class="well col-xs-12 col-mg-8 col-lg-8">
<form class="form-horizontal" (submit)="addTranslate()">
  <fieldset>
    <legend>New order</legend>
    <div [formGroup]="form" class="form-group">
      <label for="inputTitle" class="col-lg-2 control-label">Title:</label>
      <div class="col-lg-10">
        <input type="text" formControlName="title" required minlength="5" class="form-control" id="inputTitle" #title placeholder="Title of order">
      </div>

      <label for="inputDead" class="col-lg-2 control-label">Deadline:</label>
      <div class="col-lg-10">
        <input type="date" formControlName="deadline" #deadline class="form-control" id="inputDead" min="{{mindate | date: 'yyyy-MM-dd'}}" required placeholder="Deadline">
      </div>

      <label for="inputType" class="col-lg-2 control-label">Text genre:</label>
      <div class="col-lg-10">
            
            <select class="form-control" required  formControlName="textgenre" id="inputType">
              <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
             </select>
      </div>

      <div class="col-lg-6 col-mg-6 col-xs-6">
      <label for="inputType" class="col-lg-2 control-label">Source language:</label>
      <div class="col-lg-10">
          
            <select class="form-control" required  formControlName="sourcelanguage" id="inputType">
              <option *ngFor="let language of languages" [value]="language.id">{{language.name}}</option>
             </select>
      </div>
      </div>

      <div class="col-lg-6 col-mg-6 col-xs-6">
      <label for="inputType" class="col-lg-2 control-label">Destionation language:</label>
      <div class="col-lg-10">
           
    <select class="form-control" required formControlName="destinationlanguage" id="inputType">
              <option *ngFor="let language of languages" [value]="language.id">{{language.name}}</option>
             </select>
            
      </div>
      </div>
    
      <label for="inputLink" class="col-lg-2 control-label">File:</label>
    <div class="col-lg-10">
          <input type="file" required class="form-control" (change)="onFileChange()"  name="single" ng2FileSelect [uploader]="uploader" />
          <table class="table">
                                <thead *ngIf="uploader.queue.length > 0">
                                <tr>
                                    <th width="50%">Name</th>
                                    <th>Size</th>
                                    <th>Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody *ngIf="uploader.queue.length > 0">
                                <tr *ngFor="let item of uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs"
                                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs"
                                                (click)="item.cancel()" [disabled]="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs"
                                                (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            
                            <div *ngIf="uploader.queue.length > 0">
                                    Queue progress:
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>  
    </div>
   
      <label for="textArea" class="col-lg-2 control-label">Description: </label>
      <div class="col-lg-10">
        <textarea class="form-control" formControlName="description" #description rows="3" id="textArea" placeholder="Optional info about file, translate order in general."></textarea>
        <span class="help-block">Informs translator about your order. Provide additional inforamtion about your text.</span>
      </div>
    
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Clear</button>
        <button type="submit" class="btn btn-success">Post</button><i *ngIf="loading" class="fa fa-cog fa-spin fa-2x fa-fw"></i>
      </div>
    </div>
  </fieldset>
</form>


<!--<nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                            <li><a>File Upload</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </nav>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <form>
                                <div class="form-group">
                                    <label for="multiple">Multiple</label>
                                    <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple  />
                                </div>
                                <div class="form-group">
                                    <label for="single">single</label>
                                    <input type="file"class="form-control" name="single" ng2FileSelect [uploader]="uploader" />                                
                                </div>            
                            </form>
                        </div>
                        <div class="col-md-8">
                            <h3>File Upload with Angular 2 and Node</h3>
                            Queue length: {{ uploader?.queue?.length }}

                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th>Size</th>
                                    <th>Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs"
                                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs"
                                                (click)="item.cancel()" [disabled]="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs"
                                                (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div>
                                <div>
                                    Queue progress:
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-s"
                                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
                                <button type="button" class="btn btn-warning btn-s"
                                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                </button>
                                <button type="button" class="btn btn-danger btn-s"
                                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
                            </div>
                        </div>
                    </div>
                </div>-->


</div>
</section>
