<br>
<br>
<section id="userslist" style="height: 100%">
<div class="container"  class="col-lg-12 col-mg-12 col-xs-12">
    <legend>Users &nbsp;<i class="fa fa-address-card-o" aria-hidden="true"></i></legend>
   
        <table class="table table-striped" style="font-size:90%;">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Email</th>
                    <th>User name</th>
                    <th>Confirmed</th>
                    <th>Postion name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of pagedItems;let i = index" style="margin-bottom: 10px;" [class.selected]="person === selectedPerson"
                    (click)="onSelect(person)">
                    <td>{{i+1}}</td>
                    <td>
                        {{user.email}}

                    </td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td><span [ngClass]="{'text-success':user.emailconfirm,'text-danger':!user.emailconfirm}">
                        <span *ngIf="user.emailconfirm" class="glyphicon glyphicon-ok-circle gi-2x"></span>
                         <span *ngIf="!user.emailconfirm" class="glyphicon glyphicon-remove-circle gi-2x"></span>
                    </span></td>
                    <td><span [ngClass]="{'text-info':user.postionname == 'user','text-warning':user.postionname == 'translator','text-danger':user.postionname == 'administrator'}">{{user.postionname | uppercase}}</span></td>
                                        
                   
                    <!--<td><button > Change</button></td>-->
                    <td><button type="button" class="btn-danger" (click)="removeUser(user)">Delete</button>
                    <button type="button" *ngIf="user.id_position !='3'" (click)="makeAdmin(user)" class="btn-info">Make admin</button>
                    <button type="button" *ngIf="user.id_position !='2'" (click)="makeTranslator(user)" class="btn-info">Make translator</button></td>
                    
                </tr>
            </tbody>
        </table>

        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
    
</div>
</section>
